body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 626px;
  margin: 64px auto;
}

main img {
  margin-bottom: 32px;
}

main h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  color: #3F3D56;
}

main h1 span {
  font-weight: bold;
  color: #EE24FF;
  font-size: 32px;
}

p {
  color: #828282;
  font-size: 15px;
  line-height: 22px;
}

p span {
  color: #3F3D56;
  font-weight: bold;
}

footer {
  text-align: center;
  align-items: center;
  justify-content: center;
}
footer .line {
  margin: 0 auto 16px;
  width: 391px;
  border-top: 1px solid #ECEFF2;
}

footer a {
  font-weight: bold;
  color: #3F3D56;
  text-decoration: none;
}

footer a + a {
  margin-left: 42px;
}

footer img {
  margin-top: 40.83px;
  width: 1024px;
}

/* footer .wave {
  background-image: url('/images/Wave.png');
  background-color: #3F3D56;
  width: 100%;
  height: 104px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  transform: ;
} */


